.navbar {
    background-color: #24bdfa;
}

.navbar2 {

}

.nav-item {
    margin-left: 70px;
}

.nav-item3 {
    display: block;
    background-color: #24bdfa;
    width: 3%;
}

.nav-item2 {
    margin-top: 70px;
    background-color: #24bdfa;
    width: 3%;
}





